/**
 * twitter styles
 */

.slideLink {
  position: fixed;
  bottom: 2rem;
  right: 2rem;

  padding: 1rem;

  box-shadow: none;

  font-size: 3rem;
  color: #1b2b34;
  font-weight: 700;
  text-decoration: none;
}
